$primary-color: rgb(246, 79, 89);
$secondary-color: rgb(196, 113, 237);
$accent-color: rgb(18, 194, 233);
$dark-bg: #333;

$default-gradient: linear-gradient(
  to bottom right,
  $primary-color,
  $secondary-color,
  $accent-color
);

$accent-gradient: linear-gradient(to bottom left, #00aeff, #67bacf);

$transparent-gradient: linear-gradient(to top right, #fffa, #fff5);

$main-border-radius: 2rem;

$header-background: rgba(
  $color: white,
  $alpha: 0.7
);
$header-text-color: rgba(
  $color: black,
  $alpha: 0.7
);
