@import "@/assets/scss/constants.scss";

.header {
  height: 64px;
  background: $header-background;
  color: $header-text-color;
  display: flex;
  align-items: center;
  border-radius: 0 $main-border-radius 0 0;
  position: relative;

  .leading:not(:empty),
  .actions:not(:empty) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 1.2rem;
    display: flex;
    align-items: center;

    button {
      background: none;
      color: $header-text-color;
      border: none;

      svg {
        fill: $header-text-color;
      }

      &:not(:disabled):hover {
        cursor: pointer;
      }

      &.back-button {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
  .leading:not(:empty) {
    left: 0;
  }
  .actions:not(:empty) {
    right: 0;
  }
  .title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .subtitle {
    font-size: 1.5rem;
    margin-top: 0.3rem;
  }
}
