@import "@/assets/scss/constants.scss";

.section {
  .title {
    color: $on-background-color;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;

    a {
      margin-left: 2rem;
      font-size: 1.2rem;
      padding: 0.3rem 0.7rem;
      border: 2px solid lightblue;
      border-radius: 1rem;
      transition: 0.15s background ease;
    }
    a:hover {
      background-color: #fff3;
    }
  }
  .separator {
    height: 0.35rem;
    width: 4rem;
    background: $on-background-color;
    margin: 1rem 0 2rem;
  }
  .list {
    display: flex;
    overflow: auto;
    .item {
      width: 10rem;
      height: 7rem;
      flex-shrink: 0;
      border: 2px solid $dark-border-color;
      background: none;
      padding: 0.5rem 0.7rem;
      font-size: 1.4rem;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      position: relative;

      &-title {
        color: $dark-text-color;
        font-size: 1.2rem;
      }
      &-subtitle {
        text-align: right;
        margin-top: auto;
        color: $dark-secondary-text-color;
        font-size: 1rem;
      }
      .overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        content: "";
        background: $overlay-color;
        opacity: 0;
        transition: 0.15s opacity ease;
      }
    }
    .item:not(:first-child) {
      margin-left: 1rem;
    }
    .item:hover {
      cursor: pointer;
      .overlay {
        opacity: 0.04;
      }
    }
    .item:focus {
      .overlay {
        opacity: 0.12;
      }
    }
  }
}
.section:not(:first-child) {
  margin-top: 4rem;
}
