.navbar {
  padding: 0 0 0 1rem;
  display: flex;
  align-items: center;
  flex: 1;

  .brand {
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    flex: 1;

    .label {
      display: none;
      margin-left: 0.6rem;
      font-size: 2rem;
      color: white;
    }
  }

  .nav {
    display: flex;
    flex: 4;
    .nav-item {
      flex: 1;
      height: 3rem;
      border: 3px solid #fff9;
      border-radius: 0.5rem;
      transition: 0.15s border ease;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .icon {
        fill: #fff9;
        width: 1.7rem;
        height: 1.7rem;
      }
      .label {
        display: none;
        margin-left: 0.6rem;
        font-size: 1.3rem;
        color: white;
      }
    }
    // .nav-item.home {
    //   display: none;
    // }
    .nav-item.router-link-active {
      border-color: white;
      .icon {
        fill: white;
      }
    }
    // .nav-item.router-link-active::after {
    //   content: "";
    //   position: absolute;
    //   top: -2px;
    //   left: -2px;
    //   width: calc(100% + 4px);
    //   height: calc(100% + 4px);
    //   border: 5px solid white;
    //   border-radius: 0.5rem;
    // }
    .nav-item:hover {
      border-color: white;
      cursor: pointer;
    }
    .nav-item:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

// @media (max-width: 700px) {
//   .navbar {
//     padding: 0;
//     align-items: stretch;
//     .brand {
//       display: none;
//     }
//     .nav {
//       flex: 3;
//       .nav-item {
//         position: relative;
//         flex: 1;
//         border: none;
//         border-radius: 0;
//         span {
//           display: none;
//         }
//         .icon {
//           display: block;
//         }
//         &.router-link-active {
//           &::after {
//             content: "";
//             position: absolute;
//             top: 0;
//             bottom: 0;
//             left: 0;
//             right: 0;
//             border: 0.4rem solid white;
//           }
//         }
//       }
//       .nav-item:not(:first-child) {
//         margin-left: 0;
//       }
//       .nav-item.home {
//         display: flex;
//       }
//     }
//   }
// }
