.navbar {
  padding: 0 0 0 1rem;
  display: flex;
  align-items: center;
  flex: 1;

  .brand {
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    flex: 1;

    .label {
      display: none;
      margin-left: 0.6rem;
      font-size: 2rem;
      color: white;
    }
  }

  .nav {
    display: flex;
    flex: 4;
    .nav-item {
      flex: 1;
      height: 3rem;
      border: 3px solid #fff9;
      border-radius: 0.5rem;
      transition: 0.15s border ease;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .icon {
        fill: #fff9;
        width: 1.7rem;
        height: 1.7rem;
        transition: 0.15s fill ease;

        &.small {
          margin-left: 0.5rem;
          width: 1rem;
          height: 1rem;
        }
      }
      .label {
        margin-left: 0.6rem;
        font-size: 1.3rem;
        color: #fff9;
        transition: 0.15s color ease;
      }
    }
    .nav-item.router-link-active {
      border-color: white;
      .icon {
        fill: white;
      }
      .label {
        color: white;
      }
    }
    .nav-item:hover {
      border-color: white;
      cursor: pointer;
      &.external-link {
        .icon {
          fill: white;
        }
        .label {
          color: white;
        }
      }
    }
    .nav-item:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

@media (max-width: 700px) {
  .navbar {
    .nav {
      .nav-item {
        .icon:not(:first-of-type) {
          display: none;
        }
        .label {
          display: none;
        }
      }
    }
  }
}
