@import "@/assets/scss/constants.scss";

.sidebar {
  display: flex;
  flex-direction: column;

  .nav {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .nav-item {
      padding: 0 0.8rem;
      display: flex;
      align-items: center;
      background: #fff9;
      border-radius: 1rem;
      text-decoration: none;
      color: #193199;
      font-size: 1.2rem;
      transition: 0.15s background ease;
      height: 50px;

      .icon {
        margin-right: 0.8rem;
        svg {
          fill: #193199;
        }
      }

      a {
        font-size: 0.8rem;
        text-decoration: none;
        color: inherit;
        border-radius: 0.5rem;
        border: none;
        padding: 0.4rem 0.5rem;
        background: #fffb;
        margin-left: auto;
        cursor: pointer;
        transition: 0.15s background ease;
        text-transform: uppercase;

        &:hover {
          background-color: #fff;
        }
      }

      &.disabled {
        background-color: #fff4;
      }

      &:not(.disabled) button {
        display: none;
      }

      &:not(.disabled):hover,
      &.active {
        background-color: #fff;
      }
    }
    .nav-item:not(:first-child) {
      margin-top: 1rem;
    }
  }

  .bottom {
    margin-top: auto;
    min-height: 3rem;
    padding: 1rem;
    display: grid;
    place-content: center;

    a,
    button {
      text-decoration: none;
      background: linear-gradient(to bottom left, #00aeff, #67bacf);
      outline: none;
      color: #fff;
      border: none;
      padding: 0.8rem 1rem;
      border-radius: 0.8rem;
      cursor: pointer;
      display: flex;
      align-items: center;

      span {
        text-transform: uppercase;
        font-size: 1.1rem;
        margin-bottom: -2px;
      }

      svg {
        margin-left: 0.5rem;
        display: inline;
        fill: white;
      }
    }
  }
}
